body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    display: grid;
    grid-template-columns: 1fr 3.7fr;
    grid-template-rows: repeat(5, 20vh);
}

header {
    background-color: aliceblue;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    font-weight: 500;
}

.sidebar {
    background-color: bisque;
    grid-row: 1 / 6;
    padding: 15px;
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr) 2fr repeat(3, 1fr) 6fr;
    justify-items: start;
    align-items: center;
    gap: 0 15px;
}

main {
    background-color: #9a9a9a3d;
    grid-row: 2 / 6;
}

.logo {
    align-self: baseline;
}



ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid: subgrid / subgrid;
    align-items: center;
    margin: 0;
}

.sidebar li img {
    width: 10%;
    margin-right: 25px;
    margin-left: 10px;
}

.logo img {
    width: 20%;
    margin-right: 10px;
    margin-left: 0;
}

.logo span {
    font-size: 20px;
    font-weight: 700;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sidebar li {
    display: flex;
    align-items: center;
}

.sidebar-1 {
    grid-row: 1 / 8;
}

.sidebar-2 {
    grid-row: 9 / 12;
}

.searchbar {
    display: flex;
    gap: 10px;
}

.searchbar img {
    width: 4%;
    
}

.searchbar input {
    width: 90%;
    border-radius: 15px;
    background-color: darkgray;
    border: none;
}

.profile-tr {
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
}

.profile-tr img {
    width: 7%;
}

.profile-tr .Nina {
    border-radius: 50px;
    width: 12%;
}

.profile-bl {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    padding-bottom: 15px;
}

.profile-bl .Nina {
    border-radius: 50px;
    width: 10%;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.up {
    font-size: 13px;
}

.down {
    font-size: 25px;
}

.buttons {
    justify-self: end;
    gap: 30px;
    display: flex;
}

button {
    padding: 8px 30px;
    border-radius: 20px;
    background-color: #ffe4c4;
    border: none;
    font-weight: 500;
    font-family: inherit;
}

main {
    padding: 30px 50px 40px 50px;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 0.02fr 1fr;
    gap: 0 50px;
}

.projects {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:30px;
}

.projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-area: 1 / 1 / 4 / 3;
}

.projects li {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-radius: 10px;
    border-left: solid bisque 10px;
    padding: 15px;
}

.projects li,
div.announcements,
div.trending {
    box-shadow: #80808057 1px 1px 5px 1px;
}

span.announcements {
    grid-area: 1 / 2 / 1 / 3;
}

main > span {
    align-self: end;
    margin-bottom: 10px;
    font-weight: 500;
}

div.side-content {
    display: grid;
    grid: 4fr 1fr 4fr / 1fr
}

.side-content > span {
    align-self: end;
    margin-bottom: 10px;
    grid-row: 2/3;
    font-weight: 500;
}

div.announcements,
.trending {
    background-color: white;
    border-radius: 10px;
}

div.announcements {
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

div.announcements > div:not(:last-child) {
    border-bottom: 1px solid #969090;
}

.announcement {
    padding-bottom: 5px;
    padding-top: 5px;
}

h5 {
    margin: 0;
    color: black;
}

.icons {
    display: flex;
    height: 25px;
    align-self: end;
    margin-top: auto;
    gap: 10px;
}

.icons img {
    height: 100%;
}

.trending {
    padding: 15px;
    display: grid;
    grid: repeat(4,1fr) / 1fr;
}

li.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    border-radius: 50px;
    width: 20%;
}

ul.profile {
    grid-row: 1 / 5;
}

div.profile {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

span.tag {
    font-weight: 400;
}

div.announcement:not(h5), 
.projects li:not(h5),
span.description {
    color: #525252;
}