body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: aliceblue;
    grid-column: 2 / 3;
}

.sidebar {
    background-color: bisque;
    grid-row: 1 / 6;
    padding: 15px;
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr) 2fr repeat(3, 1fr) 6fr;
    justify-items: start;
    align-items: center;
    height: 100vh;
    gap: 0 15px;
}

main {
    background-color: dimgrey;
    grid-row: 2 / 6;
}

.logo {
    align-self: baseline;
}



ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid: subgrid / subgrid;
    align-items: center;
    margin: 0;
}

li img {
    width: 10%;
    margin-right: 25px;
    margin-left: 10px;
}

.logo img {
    width: 20%;
    margin-right: 10px;
    margin-left: 0;
}

.logo span {
    font-size: 20px;
    font-weight: 700;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sidebar li {
    display: flex;
    align-items: center;
}

.sidebar-1 {
    grid-row: 1 / 8;
}

.sidebar-2 {
    grid-row: 9 / 12;
}


